:root{
    --main-blur             : rgb(13, 65, 0);
    --main-border           : rgb(0, 138, 53);
    --main-background-color : rgb(0, 0, 0);
    --main-color            : rgb(199, 199, 199);

    --border-focus          : rgb(0, 199, 76);
    --blur-focus            : rgb(0, 90, 35);

    --secondary-color       : rgb(0,0,0);
    --secondary-background  : rgb(31, 31, 31);

    --highlight-color       : rgb(0, 168, 36);
    --highlight-color-hover : rgb(0, 209, 45); 
    --highlight-background  : rgb(0, 0, 0);

    --third-background      : rgb(50,50,50);

    --selected-message-bg   : rgba(0, 55, 12, 0.55);
    --selected-message-blur : rgb(17, 65, 17);

    --reply-background      :rgb(27, 51, 33);
}

::selection {
    color: var(--highlight-color);
    background-color: var(--highlight-background)
}
input{
    caret-color: rgb(107, 177, 107)             !important;
    background-color: var(--secondary-background) !important;
    border: solid 2px var(--main-border)          !important;
    box-shadow: 0 0 15px 5px var(--main-blur)     !important;
    transition: all 200ms                         !important;
    font-size: 16px;
    display: block;
}
input:focus{
    outline: none;
    border: solid 2px var(--border-focus)      !important;
    box-shadow: 0 0 20px 5px var(--blur-focus) !important;
}
svg path {
    fill: var(--main-color) ; 
    transition: all 200ms;
}
svg:hover path{
    fill: var(--main-border) !important; 
}
svg:active path{
    fill: var(--border-focus) !important; 
}
*{
    margin: 0;
    padding: 0;
    color: var(--main-color);
    scrollbar-width: thin;
    scrollbar-color: var(--main-border) var(--secondary-background);
}
body{
    background-color: var(--main-background-color);
    overflow: hidden;
    height: 100vh !important;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.generic-button{
    border-radius: 50px;
    border: solid 1px var(--main-border);
    background-color: var(--secondary-background);
    transition: all 200ms;
}
.generic-button:hover{
    color: var( --highlight-color-hover);
    box-shadow: 0 0 15px var(--main-blur);
}
.generic-button:active{
    box-shadow: 0 0 25px 5px var(--main-blur);
}
.main-container{
    display: flex;
    height: 100vh;
}
#menu{
    width: 20%;
}
#chat{
    width: 80%;
    max-height: 100vh;
    /* background-image: url(Images/Main/weed-neon-sign.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#divider { 
    background-color: var(--main-border);
    box-shadow: 0 0 15px 5px var(--main-blur);
    height: 100vh;
    width: 0.2%;
    transition: all 200ms;
}
#divider:hover{
    box-shadow: 0 0 25px 5px var(--main-blur);
    cursor:e-resize;
}
#divider:active{
    background-color: var(--border-focus);
    box-shadow: 0 0 25px 10px var(--blur-focus);
}
#form{
    position: absolute;
    bottom: 3%;
    height: 7%;
    width: 80%;
    display: flex;
}
#input{
    padding: 0 2%;
    width: 80%;
    height: 100%;
    border-radius: 50px;
    margin-left: 11.25px; 
}
#messages{
    width: 100%;
    max-height: 88%;
    height: 88%;
    overflow-y: scroll;
    transition: all 400ms;
}
.message-container{
    display: flex;
    transition: all 200ms;
}
.message{
    margin: 2% 0;
}
.message-content{
    background-color:var(--secondary-background) ;
    border: solid 1px var(--main-border);
    max-width:80%;
    padding: 1%;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    box-shadow: 0 0 15px 5px var(--main-blur);
}
.user-profile{
    width:  50px;
    height: 50px;
    border-radius: 69420px;
    position: absolute;
    bottom: 0;
    left: 15%;
}
.message-profile{
    position: relative;
    width: 75px;
}
.username{
    color: var(--highlight-color);
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 200ms;
}
.username:hover{
    color: var(--highlight-color-hover);
}
#black-screen{
    background-color: rgba(0, 0, 0, 0.69);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    display: none;
}
#close-black-screen{
    width:  5%;
    position: absolute;
    right: 2%;
    cursor: pointer;
}
.menu{
    position: relative;
    background-color: var(--secondary-background);
    width: 40%;
    height: 80%;
    margin: 5% auto;
    border-radius: 15px;
    border: 2px solid var(--main-border) ;
    box-shadow: 0 0 25px var(--main-blur);
}
.user-info-container{
    display: flex;
}
.user-image {
    width: 100px;
}
.user-detail{
    padding: 1%;
    font-size: 20px;
}
#off{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: black;
}
#more{
    rotate: 90deg;
}
#more-menu{
    background-color: var(--secondary-background);
    width:200px ;
    position: absolute;
    top: 80%;
    right: 2%;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    opacity: 0;
    transition: all 200ms;
    display: none;
}
.more-menu-item{padding: 6%;transition: all 200ms;cursor: pointer;}
.more-menu-item:hover{color: var( --highlight-color-hover);}
#setting-button{
    margin: 5% 0 0 6%;
    width: 15%;
    transition: all 200ms;    
}
#setting-button:hover{
    rotate: 45deg;
}
#edit-profile-button{
    position: absolute;
    right: 8%;
    width: 6.5%;
    transition: all 200ms;
}
#submit-text{
    width: 75%;
    margin: 5% 0 0 5%;
    padding: 2%;
    display: initial !important;
    border-radius: 69420px;
}
#submit-pre-written-text-button{
    background-color: var(--secondary-background);
    padding: 2% 1.5%;
    border: solid 2px var(--main-border);
    border-radius: 1005px ;
    transition: all 200ms;
}
#submit-pre-written-text-button:hover{
    border: solid 2px var(--border-focus);
    box-shadow: 0 0 15px var(--main-blur);
}
#submit-pre-written-text-button:active{
    box-shadow: 0 0 15px var(--border-focus);
}
#PWT-container{
    max-height: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}
.pre-written-text{
    max-width: 85%;
    overflow-wrap: break-word;
    margin: 3% 0 0 5%;
    background-color: var(--secondary-background);
    border-radius: 15px;
    padding: 2% 4%;
    border: solid 1px var(--main-border);
    cursor: pointer;
    transition: all 200ms;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Standard */
}
.pre-written-text:hover{
    border-color:  var(--border-focus);
    box-shadow: 0 0 5px 5px var(--main-blur);
}
.pre-written-text:active{
    box-shadow: 0 0 15px 5px var(--blur-focus);
}
#menu-toolbar{
    padding: 2%;
    display: flex;
    width: 96%;
    height: 10%;
    position: relative;
    font-size: 30px;
    color: var( --highlight-color);
}
.side-menu-toolbar{
    position: relative;
    display: flex;
    font-size: 12px;
    padding: 5% 7%;
    box-shadow: 0 0 15px var(--main-blur);
    border-bottom: solid 2px var(--main-border);
}
#config-button{
    width: 12%;
    position: absolute;
    right: 2%;
    transition: all 800s;
}
#config-button:hover{
    rotate: 900000deg;
}
#close-menu{
    width: 12%;
}
.menu-item{
    border: 1px var(--main-border) solid;
    border-top:0px ;
    padding: 10%;
}
#scroll-down{
    width:  40px;
    height: 40px;
    position: fixed;
    border-radius: 100px;
    border: solid 1px var(--main-border);
    top: 80%;
    right: 1.2%;
    font-size: 24px;
    background-color: var(--main-background-color);
    transition: all 200ms;
}
#scroll-down:hover{
    color: var( --highlight-color-hover);
    box-shadow: 0 0 15px var(--main-blur);
}
#scroll-down:active{
    box-shadow: 0 0 25px 5px var(--main-blur);
}
#context-menu{
    transition: all 100ms;
    scale: 0;
    min-width: 100px;
    background-color: var(--secondary-background);
    border-radius: 15px;
    border: var(--border-focus) solid 1px;
    overflow: hidden;
    position: absolute;
    z-index: 15;
}
.right-click-item{
    border-bottom: 1px solid var(--main-border) ;
    padding: 5% 10% ;
    transition: all 100ms;
}
.right-click-item:hover{
    background-color: var(--third-background);
    cursor: pointer;
}
.message-text p {
    overflow-wrap: break-word;
}
#reply-container{
    position: absolute;
    background-color: var(--secondary-background);
    border: solid 2px var(--border-focus);
    border-bottom: 0;
    border-radius: 50px;
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;   
    height: 100%;
    top: -100%;
    margin-left: 11.25px ;
    padding: 0 2%;
    transition: all 200ms;
}
#close-reply{
    width : 2.5%;
    height: 2.5%;
    position: absolute;
    right: 3%;
    top: 25%;
}
.form-button{
    transition: all 300ms;
    width : 3%;
    margin: .5%;
}
.reply-username{
    color: var( --highlight-color);
    margin-top: 0.8%;
}
.reply-text{
    margin-top: 0.3%;   
}
.highlight{
    box-shadow: 0 0 25px var(--selected-message-blur);
    background-color: var(--selected-message-bg);
}
.replied-message-container{
    cursor: pointer;
    background-color: var(--reply-background);
    border-radius: 15px;
    padding: 10px;
}
.replied-username{
    color: var( --highlight-color);
    min-width: 100px;
    margin-bottom: 4%;
}
.replied-text{
    overflow-wrap: break-word;
}
.sent-image{
    max-width: 100%;
    margin-bottom: 1%;
}
/* edit profile (combine in future) */
#edit-profile-header{
    color: var( --highlight-color);
    text-align: center;
    margin: 2% 0;
}
.new-profile-input{
    margin: 4% 2.5%;
    border-radius: 50px;
    height: fit-content;
    width: 90%;
    padding: 2%;
}
#update-profile{
    padding: 2%;
    bottom: 5%;
    left: 3%;
    position: absolute;
}
.profile-preview{
    margin: 0 2.5%;
    margin-top: 2%;
    width: 22%;
}
/* end edit profile (combine in future) */
/* this is definitely gonna change  */
#notify{
    position: absolute;
    bottom: 10%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    width: 80%;
    height: 5%;
    background:linear-gradient(to top , rgba(44, 255, 125, 0.336) ,rgba(69, 255, 94, 0.568)) ;
    box-shadow: 0 0 25px var(--main-blur);
    opacity: 0;
    animation: fadeInAndOut 1s ease-in;
}
@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* can add padding to menu to prevent repeating the same thing */
.note-container{
    padding: 2%;
    font-style: italic;
}
.config-container{
    padding: 2%;
}
.checkbox{
    display: initial;
}
#pwt-deck{
    width: 100%;
    text-align: center;
    padding: 2%;
}
#file{
    display: none;
}
.block { display: block !important }
#PWT-header{
    height: 20%;
}
#disconnected{
    position: absolute;
    top: 5%;
    left: 15%;
    width: 70%;
    background-color: rgb(43, 0, 0);
    box-shadow: 0 0 15px red;
    border: solid red 2px;
    border-radius: 69420px;
    text-align: center;
    transition: all 500ms;
    padding: 1%;
}
.connected{
    background-color:var(--secondary-background) !important;
    box-shadow: 0 0 15px var(--main-blur)        !important;
    border: solid var(--main-border) 2px         !important;
    animation: fadeOut 5s;
}
@keyframes fadeOut {
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}