:root {
    --main-background-color : rgb(0, 0, 0);
    --secondary-background  : rgb(30, 30, 30);
    --third-background      : rgb(50, 50, 50);
    
    --main-color            : rgb(199, 199, 199);
    --highlight-color       : rgb(0, 168, 36);
    --highlight-color-hover : rgb(0, 209, 45);
    
    --main-border           : rgb(0, 138, 53);
    --border-focus          : rgb(0, 199, 76);

    --main-blur             : rgb(13, 65, 0);
    --blur-focus            : rgb(0, 90, 35);

    --selected-message-bg   : rgba(0, 55, 12, 0.55);
    --selected-message-blur : rgb(17, 65, 17);

    --reply-background      :rgb(27, 51, 33);

    --selected-chat-background: rgb(10, 30, 10);
    --selected-chat-background-hover: rgb(21, 61, 21);

    --caret-color : rgb(107, 177, 107); 

    --short-transition : 200ms;
    --long-transition  : 500ms;
    
    --button-size : 40px;

    --menu-margin : 2%;
}

@font-face {
    font-family: MainFont;
    src: url(Font/Vazir.ttf);
}

* {
    caret-color: var(--caret-color);
    margin: 0;
    padding: 0;
    color: var(--main-color);
    scrollbar-width: thin;
    scrollbar-color: var(--main-border) var(--secondary-background);
}

body {
    background-color: var(--main-background-color);
    overflow: hidden;
    height: 100vh !important;
    font-family: MainFont;
}

::selection {
    color: var(--highlight-color);
    background-color: var(--main-background-color)
}

input {
    background-color: var(--secondary-background) !important;
    border: solid 2px var(--main-border)          !important;
    box-shadow: 0 0 15px 5px var(--main-blur)     !important;
    transition: all var(--short-transition)       !important;
    font-size: 16px;
    display: block;
}
input:focus {
    outline: none;
}

#input-container {
    background-color: var(--secondary-background);
    border: solid 2px var(--main-border);
    box-shadow: 0 0 15px 5px var(--main-blur);
    transition: all var(--short-transition);
    font-size: 16px;
    display: block;
    position: relative;

    padding: 0 2%;
    width: 80%;
    height: 50px;
    border-radius: 50px;
    margin-left: 1%; 
}
.input-container-focus {
    border: solid 2px var(--border-focus)      !important;
    box-shadow: 0 0 20px 5px var(--blur-focus) !important;
}

#input {
    height: 50px;
    width: 98%;
    outline: none;
    overflow: auto;
    display: flex;
    align-items: center;
}
svg path {
    fill: var(--main-color) ; 
    transition: all var(--short-transition);
}
svg:hover path {
    fill: var(--main-border) !important; 
}
svg:active path {
    fill: var(--border-focus) !important; 
}
svg rect {
    fill: var(--main-color) ; 
    transition: all var(--short-transition);
}
svg:hover rect {
    fill: var(--main-border) !important; 
}
svg:active rect {
    fill: var(--border-focus) !important; 
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.generic-button {
    border-radius: 50px;
    border: solid 1px var(--main-border);
    background-color: var(--secondary-background);
    transition: all var(--short-transition);
}
.generic-button:hover {
    color: var( --highlight-color-hover);
    box-shadow: 0 0 15px var(--main-blur);
}
.generic-button:active {
    box-shadow: 0 0 15px var(--main-blur);
}
#main-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
#side-menu {
    flex: 0 0 20%;
    overflow: hidden;
    position: relative;
}
#chat {
    flex: 1;
    max-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.divider { 
    background-color: var(--main-border);
    height: 100vh;
    min-width: 3px;
    transition: all var(--short-transition);
}
.divider:hover {
    background-color: var(--border-focus);
    cursor: e-resize;
    z-index: 5;
}
.divider:active {
    box-shadow: 0 0 10px 5px var(--blur-focus);
    cursor: e-resize;
    z-index: 5;
}
#form {
    position: absolute;
    bottom: 3%;
    height: 50px;
    width: -moz-available;
    width: -webkit-fill-available;
    display: flex;
    background-color: var(--main-background-color);
    transition: all var(--short-transition);
}
#message-container {
    position: relative;
    width: 100%;
    margin-top: 50px;
    max-height: calc(97% - 100px);
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all var(--short-transition);
}
.message-container {
    display: flex;
    transition: all var(--short-transition);
}
.message {
    padding: 10px 0;
}
.message-content {
    background-color:var(--secondary-background) ;
    border: solid 1px var(--main-border);
    max-width: 90%;
    padding: 10px;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    box-shadow: 0 0 15px 5px var(--main-blur);
}
.user-profile {
    width:  50px;
    border-radius: 25px;
}
.message-profile {
    position: relative;
    width: 75px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.username {
    display: flex;
    color: var(--highlight-color);
    margin-bottom: 10px;
    cursor: pointer;
    transition: all var(--short-transition);
}
.username:hover {
    color: var(--highlight-color-hover);
}
#blur-overlay {
    background-color: rgba(0, 0, 0, 0.69);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    display: none;
}
#close-blur-overlay {
    width:  5%;
    position: absolute;
    right: 2%;
}
.menu {
    position: relative;
    background-color: var(--secondary-background);
    width: 40%;
    height: 80%;
    margin: 5% auto;
    border-radius: 15px;
    border: 2px solid var(--main-border) ;
    box-shadow: 0 0 25px var(--main-blur);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 15;
}
.user-info-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 2%;
}
.user-detail {
    padding: 1%;
    font-size: 20px;
}
#off {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: black;
}
#more {
    rotate: 90deg;
}
#more-menu {
    background-color: var(--secondary-background);
    width:200px ;
    position: absolute;
    top: 80%;
    right: 2%;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    opacity: 0;
    display: none;
    z-index: 10;
    transition: all var(--short-transition);
}
.more-menu-item {
    padding: 6%;
    transition: all var(--short-transition);
    cursor: pointer;
}
.more-menu-item:hover {
    color: var( --highlight-color-hover);
}
#setting-button {
    width: var(--button-size);
    transition: all var(--short-transition);    
}
#setting-button:hover {
    rotate: 45deg;
}
#edit-profile-button {
    position: absolute;
    right: 8%;
    width: 6.5%;
    transition: all var(--short-transition);
}
#submit-text {
    width: 75%;
    margin: 5% 0 0 5%;
    padding: 2%;
    display: initial !important;
    border-radius: 69420px;
}
#submit-pre-written-text-button {
    background-color: var(--secondary-background);
    padding: 2% 1.5%;
    border: solid 2px var(--main-border);
    border-radius: 1005px ;
    transition: all var(--short-transition);
}
#submit-pre-written-text-button:hover {
    border: solid 2px var(--border-focus);
    box-shadow: 0 0 15px var(--main-blur);
}
#submit-pre-written-text-button:active {
    box-shadow: 0 0 15px var(--border-focus);
}
#PWT-container {
    max-height: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}
.pre-written-text {
    max-width: 85%;
    overflow-wrap: break-word;
    margin: 3% 0 0 5%;
    background-color: var(--secondary-background);
    border-radius: 15px;
    padding: 2% 4%;
    border: solid 1px var(--main-border);
    cursor: pointer;
    transition: all var(--short-transition);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Standard */
}
.pre-written-text:hover {
    border-color:  var(--border-focus);
    box-shadow: 0 0 5px 5px var(--main-blur);
}
.pre-written-text:active {
    box-shadow: 0 0 15px 5px var(--blur-focus);
}
#menu-toolbar {
    display: flex;
    position: relative;
    font-size: 30px;
    color: var( --highlight-color);
    margin: 2%;
}
.side-menu-toolbar {
    position: relative;
    display: flex;
    padding: 5px ;
    height: 40px;
}
#config-button {
    width: var(--button-size);
    position: absolute;
    right: 2%;
    transition: all 2000s;
}
#config-button:hover {
    rotate: 9000000deg;
}
#close-menu {
    width: var(--button-size);
}
.side-menu-item {
    display: flex;
    align-items: center;
    padding: 5px;
    height: 40px;
    font-size: 20px;
    transition: all var(--short-transition);
    border-bottom: 1px var(--main-border) solid;
}
.side-menu-item:hover {
    cursor: pointer;
    color: var(--highlight-color);
    background-color: var(--secondary-background);
}
#games {
    border: 1px solid transparent; 
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet,red);
    background-size: 200% 200%;
    background-clip: border-box;
    box-shadow: inset 0 0 0 1000px var(--main-background-color);
    animation: rainbow 3s linear infinite ;
}
#games:hover {
    animation: rainbow .5s linear infinite ;

}
@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}
.selected-chat {
    background-color: var(--selected-chat-background);
}
.selected-chat:hover {
    background-color: var(--selected-chat-background-hover);
}
#scroll-down {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: calc(100% + 10px);
    left: calc(100% - 50px);
    border-radius: 100px;
    border: solid 1px var(--main-border);
    font-size: 24px;
    background-color: var(--main-background-color);
    transition: all var(--short-transition);
    animation: show-scroll-down var(--short-transition) ease-in-out;
}
#scroll-down:hover {
    color: var( --highlight-color-hover);
    box-shadow: 0 0 15px var(--main-blur);
}
#scroll-down:active {
    box-shadow: 0 0 25px 5px var(--main-blur);
}

@keyframes show-scroll-down {
    0% {
        z-index: -1;
        bottom: calc(100% - 40px);
    }
    100% {
        bottom: calc(100% + 10px);
    }
}

@keyframes hide-scroll-down {
    0% {
        bottom: calc(100% + 10px);
        z-index: -1;
    }
    100% {
        z-index: -1;
        bottom: calc(100% - 40px);
    }
}

#context-menu {
    transition: all var(--short-transition);
    min-width: 100px;
    background-color: var(--secondary-background);
    border-radius: 15px;
    border: var(--border-focus) solid 1px;
    overflow: hidden;
    position: absolute;
    z-index: 15;
    animation: popIn 100ms ease-in-out ;
}
@keyframes popIn {
    0%{
        scale : 0;
    }
    100%{
        scale : 1;
    }
}
.right-click-item {
    border-bottom: 1px solid var(--main-border) ;
    transition: all var(--short-transition);
    padding: 8px 12px;
}
.right-click-item:hover {
    background-color: var(--third-background);
    cursor: pointer;
}
.message-text {
    overflow-wrap: anywhere;
    direction: rtl;
}
#reply-container {
    width: 98%;
    height: 50px;
    overflow: hidden;
}
#close-reply {
    width : 2.5%;
    height: 2.5%;
    position: absolute;
    right: 3%;
    top: 25%;
}
.form-button {
    transition: all var(--short-transition);
    width : 3%;
    margin: .8%;
}
.reply-username {
    color: var( --highlight-color);
    margin-top: .5%;
}
.reply-text {
    text-overflow: ellipsis;
}
.highlighted-message{
    box-shadow: 0 0 25px var(--selected-message-blur);
    background-color: var(--selected-message-bg);
}
.replied-message-container {
    cursor: pointer;
    background-color: var(--reply-background);
    border-radius: 15px;
    padding: 10px;
}
.replied-username {
    color: var( --highlight-color);
    min-width: 100px;
}
.replied-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
}
.sent {
    max-width: 100%;
    margin-bottom: 1%;
}
/* edit profile (combine in future) */
#edit-profile-header {
    color: var( --highlight-color);
    text-align: center;
    margin: 2% 0;
}
.new-profile-input {
    margin: 4% 2.5%;
    border-radius: 50px;
    height: fit-content;
    width: 90%;
    padding: 2%;
}
#update-profile {
    bottom: 5%;
    left: 3%;
    position: absolute;
    padding: 2%;
}
.profile-preview {
    margin: 0 2.5%;
    margin-top: 2%;
    width: 22%;
}
#notify {
    position: fixed;
    width: -moz-available;
    width: -webkit-fill-available;
    bottom: 10%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    height: 5%;
    background:linear-gradient(to top , rgba(44, 255, 125, 0.336) ,rgba(69, 255, 94, 0.568)) ;
    box-shadow: 0 0 25px var(--main-blur);
    opacity: 0;
    animation: fadeInAndOut 1s ease-in;
}
@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.note-container {
    padding: 2%;
    font-style: italic;
}
.config-container {
    padding: 2%;
}
.checkbox {
    display: initial;
}
#pwt-deck {
    width: 100%;
    text-align: center;
    padding: 2%;
}
#file {
    display: none;
}
.block { 
    display: block !important 
}
#PWT-header {
    height: 20%;
}
#disconnected {
    position: absolute;
    top: 5%;
    left: 15%;
    width: 70%;
    background-color: rgb(43, 0, 0);
    box-shadow: 0 0 15px red;
    border: solid red 2px;
    border-radius: 69420px;
    text-align: center;
    transition: all var(--long-transition);
    padding: 1%;
    z-index: 100;
}
.connected {
    background-color:var(--secondary-background) !important;
    box-shadow: 0 0 15px var(--main-blur)        !important;
    border: solid var(--main-border) 2px         !important;
    animation: fadeOut 5s;
}
@keyframes fadeOut {
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#user-profile-image {
    max-width:  125px;
    max-height: 125px;
    border-radius: 62.5px;
}
#user-profile-detail {
    width: calc(100% - 125px - 20px);
    margin: auto 0 auto 20px;
}
#exam-mode-config {
    width: 100%;
    padding: 2%;
}
#show-side-menu {
    background-color: var(--main-background-color);
    width : var(--button-size);
    height: var(--button-size);
    padding: 5px;
    position: absolute;
    top: 40%;
    transition: all var(--short-transition);
    left: -50px;
}
@keyframes showSideMenu {
    0%{
        left: -50px;
    }
    100%{
        left: 15px;
    } 
}
@keyframes hideSideMenu {
    0%{
        left: 15px;
    }
    100%{
        left: -50px;
    } 
}
@keyframes deleteMessage-1 {
    50%{
        rotate: 9000deg;
        transform: translateX(1000px);
    }
}
@keyframes deleteMessage-2 {
    0% {
        position: absolute;
        top: 40%;
        left: 40%;
    }
    50% {
        position: absolute;
        transform: scale(5);
        top: 40%;
        left: 40%;
    }
    90%{
        rotate: 1000deg;
    }
    100% {
        position: absolute;
        transform: scale(25);
    }
}
  
#unseen-messages {
    position: absolute;
    width: 20px;
    top : -30%;
    left: -30%;
    background-color: var(--main-background-color);
    color: var(--highlight-color);
    border-radius: 10px;
    border: solid 1px var(--main-border);
    font-size: 16px;
}
#navigation-bar {
    display: flex;
    background-color: var(--main-background-color);
    border-bottom: solid 1px var(--main-border);
    position: absolute;
    top: 0;
    height: 40px;
    padding: 5px;
    width: -moz-available;
    width: -webkit-fill-available;
    cursor: pointer;
    z-index: 1;
    transition: all var(--short-transition);
}
#navigation-bar:hover {
    border-bottom: solid 1px var(--border-focus);
}
#chat-user-stat {
    font-size: 13px;
}
.users-container {
    overflow: auto;
    height: inherit;
}
.user-container {
    width: 100%;
    height: 50px;
    display: flex;
    cursor: pointer;
    transition: all var(--short-transition);
    padding: 1% 0;
}
.user-container:hover {
    background-color: var(--third-background);
}
.user-info {
    position: relative;
    margin-left: 2%;
    width: 100%;
}
#progress-bar {
    position: absolute;
    border-radius: 30px;
    width: 10%;
    height: 40%;
    background-color: var(--third-background);
    border: solid 1px var(--border-focus);
    left: calc(84% - 10% - 10px);
    top: 30%;
}
#progress-bar::-moz-progress-bar { 
    background-color: var(--highlight-color); 
    border-radius: 30px;
}
#progress-bar::-webkit-progress-bar { 
    background-color: var(--highlight-color); 
    border-radius: 30px;
}
.upload-warning {
    border: 1px rgb(255, 56, 56) solid   !important;
    box-shadow: 0 0 25px rgb(255, 71, 71)!important;
}
#manual-button {
    width: var(--button-size);
}
.manual-header {
    color: var(--highlight-color);
    margin: 2%;
}
.manual-paragraph {
    margin: 2%;
}
.highlighted-text {
    background-color: var(--third-background);
    border-radius: 5px;
    color: var(--highlight-color);
    padding: 2px;
}
.chat-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}
.profile-item:hover {
    background-color: var(--third-background);
    transition: all var(--short-transition);
    width: 100%;
    cursor: pointer;
}
.profile-item-content {
    margin-left: 2%;
    transition: all var(--short-transition);
    padding: 1%;
    display: flex;
    align-items: center;
}
.profile-item-content:hover {
    color: var(--highlight-color);
}    
.profile-item-container {
    width: 100%;
    margin: 2% 0;
    overflow: auto;
}
.menu-image {
    width: 35px;
}
.variable-container {
    margin-left: 2%;
    overflow-y: scroll;
    flex: 1;
}
.color-input-container {
    display: flex;
    width: 50%;
    position: absolute;
    right: .5%;
}
#pdf-container {
    width: 50%;
    display: flex;
}
#pdf-divider {
    margin-right: 2%;
}
#clicker {
    background-color: var(--third-background);
    color: var(--highlight-color);
    border-radius: 50px;
    border: 1px solid var(--main-border);
    padding: 10%;
    cursor: pointer;
    transition: all 30ms;
}
#clicker:hover {
    box-shadow: 0 0 15px var(--blur-focus);
}
#clicker:active {
    border: 1px solid var(--border-focus);
    box-shadow: 0 0 25px var(--blur-focus);
}

/* START search style */

#search-container {
    display: flex;
    width: calc(100% - var(--button-size));
    padding: 7px;
    margin-left: 2%;
    background-color: var(--secondary-background);
    border-radius: 30px;
    border: solid 1px var(--main-border);
    transition: all var(--short-transition);
}
#search-input {
    flex: 1;
    margin-left: 2%;
    width: 50px;
    border: none !important;
    box-shadow: none !important;
}
#search-result-container {
    position: absolute;
    top: 50px;
    z-index: 5;
    background-color: var(--main-background-color);
    width: 100%;
    height: 100%;
    overflow: auto;
}
.search-result {
    display: flex;
    padding: 3%;
    cursor: pointer;
    height: 40px;
    transition: all var(--short-transition);
}
.search-result:hover {
    background-color: var(--third-background);
}
.chat-name {
    font-weight: bolder;
    width: 100%;
}
.search-result-author {
    color: var(--highlight-color);
    font-weight: bold;
    margin-right: 10px;
}

/* END search style */

#load-more {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: aqua;
}