:root{
    --main-blur             : rgb(13, 65, 0);
    --main-border           : rgb(0, 138, 53);
    --border-focus          : rgb(0, 199, 76);
    --blur-focus            : rgb(0, 90, 35);
    --main-background-color : rgb(0, 0, 0);
    --main-color            : rgb(199, 199, 199);
    --secondary-color       : rgb(0,0,0);
    --secondary-background  : rgb(31, 31, 31);
    --input-color           : rgb(201, 201, 201);
    --input-border          : rgb(0, 138, 53);
    --input-blur            : rgb(13, 65, 0);
    --username              : rgb(0, 168, 36);
    --text-hover            : rgb(0, 209, 45); 
    --third-background      : rgb(50,50,50);
    --selected-message-bg   : rgb(11, 34, 16);
    --selected-message-blur : rgb(17, 65, 17);
}

input:focus{
    outline: none;
}
*{
    margin: 0;
    padding: 0;
    color: var(--main-color);
}
body{
    background-color: var(--main-background-color);
    overflow: hidden;
    height: 100vh !important;
    font-family: 'Roboto', sans-serif;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
input{
    caret-color: green !important;
}
.main-container{
    display: flex;
}
#menu{
    width: 20%;
}
#chat{
    width: 80%;
    max-height: 100vh;
}
#divider { 
    background-color: var(--main-border);
    box-shadow: 0 0 15px 5px var(--main-blur);
    height: 100vh;
    width: 0.2%;
    transition: all 200ms;
}
#divider:hover{
    box-shadow: 0 0 25px 5px var(--main-blur);
    cursor:e-resize;
}
#divider:active{
    background-color: var(--border-focus);
    width: 0.3%;
    box-shadow: 0 0 25px 10px var(--blur-focus);

}
#form{
    position: absolute;
    bottom: 3%;
    height: 7%;
    width: 80%;
    display: flex;
}
#input{
    padding: 0 2%;
    width: 80%;
    height: 100%;
    color: var(--input-color) ;
    background-color: var(--secondary-background);
    border: solid 2px var(--input-border);
    border-radius: 50px;
    box-shadow: 0 0 15px 5px var(--input-blur);
    margin-left: 11.25px; 
    font-size: 16px;
    transition: all 500ms;
}
#input:focus{
    border: solid 2px var(--border-focus);
    box-shadow: 0 0 20px 10px var(--blur-focus);
}
svg:hover{
    path{
        fill: var(--main-border) !important; 
        transition: all 500ms;
    }
}
svg:active{
    path{
        transition: 200ms;
        fill: var(--border-focus) !important; 
    }
}
#messages{
    width: 100%;
    max-height: 88%;
    height: 88%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 300ms;
    scrollbar-color: var(--main-border) var(--secondary-background);
    scrollbar-width: thin;
}
.message-container{
    display: flex;
    transition: all 200ms;
}
.message{
    margin: 2% 0;
}
.message-content{
    background-color:var(--secondary-background) ;
    border: solid 1px var(--main-border);
    width: fit-content;
    max-width:50%;
    padding: 1%;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    box-shadow: 0 0 15px 5px var(--main-blur);
}
.user-profile{
    width:  50px;
    height: 50px;
    border-radius: 69420px;
    position: absolute;
    bottom: 0;
    left: 15%;
}
.message-profile{
    position: relative;
    width: 75px;
}
.username{
    color: var(--username);
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 200ms;
}
.username:hover{
    color: var(--text-hover);
}
#black-screen{
    background-color: rgba(0, 0, 0, 0.69);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    display: none;
}
#close-black-screen svg path{
        fill: var(--main-color) ; 
        transition: all 500ms;
}
#close-black-screen:hover svg path{
        fill: var(--main-border) ; 
        transition: all 500ms;
}
#close-black-screen:active svg path{
        fill: var(--border-focus) ; 
        transition: all 200ms;
}
#close-black-screen{
    width:  5%;
    margin-right: 3%;
    cursor: pointer;
}
.user-profile-detail{
    background-color: var(--secondary-background);
    width: 40%;
    height: 80%;
    margin: 5% auto;
    border-radius: 15px;
    border: 2px solid var(--main-border) ;
    box-shadow: 0 0 25px var(--main-blur);
}
.user-info{
    display: flex;
    width: 40%;
    height: 10%;
    position: fixed;
}
.user-info p{
    margin-left: 3%;
    margin-top:  2%;
    width: 90%;
    text-align: left;
    font-size: 24px;
}
.user-info-container{
    margin-top: 10%;
    display: flex;
}
.user-image {
    width: 100px;
}
.user-detail{
    padding: 1%;
    font-size: 20px;
}
svg g g path{
    fill: var(--main-color);
    transition: all 500ms;
}
svg:hover {g g path{fill: var(--main-border );}}
svg:active{g g path{fill: var(--border-focus);}}
#off{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: black;
}
#more{
    rotate: 90deg;
}
svg g path{
    fill: var(--main-color);
    transition: all 500ms;
}
svg:hover {g path{fill: var(--main-border );}}
svg:active{g path{fill: var(--border-focus);}}
#more-menu{
    background-color: var(--secondary-background);
    width:200px ;
    position: absolute;
    top: 80%;
    right: 2%;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    opacity: 0;
    transition: all 200ms;
    display: none;
}
.more-menu-item{padding: 6%;transition: all 300ms;cursor: pointer;}
.more-menu-item:hover{color: var(--text-hover);}
#setting-button{
    margin: 5% 0 0 6%;
    width: 15%;
    transition: all 200ms;    
    svg path{
        transition: all 500ms;
        fill: var(--main-color);
}}
#setting-button:hover{
    rotate: 45deg;
    svg path{
        transition: all 500ms;
        fill: var(--main-border);
    }
}
#setting-button:active{   svg path{   fill: var(--border-focus);}}
#edit-profile{
    margin-right: 2%;
    width: 7.5%;
    transition: all 500ms;
    svg path{
        transition: all 500ms;
        fill: var(--main-color);}}
#edit-profile:hover{
    svg path{
        transition: all 500ms;
        fill: var(--main-border);
    }
}
#edit-profile:active{
    svg path{
        transition: all 200ms;
        fill: var(--border-focus);
    }
}
#pre-written-text-menu-container{
    background-color: var(--secondary-background);
    width: 100%;
    height: 100%;
}
#submit-text{
    width: 75%;
    margin: 5% 0 0 5%;
    padding: 2%;
    background-color: var(--third-background);
    border-radius: 152222px;
    border: solid 2px var(--main-border);
    box-shadow: 0 0 15px var(--main-blur);
    transition: all 500ms;
}
#submit-text:focus{
    box-shadow: 0 0 25px var(--blur-focus);
    border-color: var(--border-focus) ;
}
#submit-pre-written-text-button{
    background-color: var(--third-background);
    padding: 2% 1.5%;
    border: solid 2px var(--main-border);
    border-radius: 1005px ;
    transition: all 200ms;
}
#submit-pre-written-text-button:hover{
    border: solid 2px var(--border-focus);
    box-shadow: 0 0 15px var(--main-blur);
}
#submit-pre-written-text-button:active{
    box-shadow: 0 0 15px var(--border-focus);
}
#pre-written-text-container{
    display: flex;
    flex-wrap: wrap;
}
.pre-written-text{
    margin: 3% 0 0 5%;
    background-color: var(--third-background);
    border-radius: 15px;
    padding: 2% 4%;
    border: solid 1px var(--main-border);
    cursor: pointer;
    transition: all 200ms;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Standard */
}
.pre-written-text:hover{
    border-color:  var(--border-focus);
    box-shadow: 0 0 5px 5px var(--main-blur);
}
.pre-written-text:active{
    box-shadow: 0 0 15px 5px var(--blur-focus);
}
.note{
    display: flex;
    font-size: 12px;
    padding: 5% 7%;
    border-bottom: solid 1px black ;
}
#close-menu{
    width: 15%;
    margin-right: 5%;
}
.menu-item{
    border: 1px var(--main-border) solid;
    border-top:0px ;
    padding: 10%;
}
#scroll-down{
    width:  40px;
    height: 40px;
    position: fixed;
    border-radius: 100px;
    border: solid 1px var(--main-border);
    top: 80%;
    right: 1.2%;
    color: var(--main-color);
    font-size: 24px;
    background-color: var(--main-background-color);
    transition: all 200ms;
}
#scroll-down:hover{
    color: var(--text-hover);
    box-shadow: 0 0 15px var(--main-blur);
}
#scroll-down:active{
    box-shadow: 0 0 25px 5px var(--main-blur);
}
#context-menu{
    transition: all 100ms;
    scale: 0;
    width: 100px;
    background-color: var(--secondary-background);
    border-radius: 15px;
    border: var(--border-focus) solid 1px;
    overflow: hidden;
    position: absolute;
}
.right-click-item{
    border-bottom: 1px solid var(--main-border) ;
    padding: 5% 0 ;
    padding-left: 20%;
    transition: all 100ms;
}
.right-click-item:hover{
    background-color: var(--third-background);
    cursor: pointer;
}
.message-text p {
    overflow-wrap: break-word;
}
#reply-container{
    position: absolute;
    background-color: var(--third-background);
    border: solid 2px var(--border-focus);
    border-bottom: 0;
    border-radius: 50px;
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;   
    height: 100%;
    top: -100%;
    margin-left: 11.25px ;
    padding: 0 3%;
    transition: all 500ms;
}
#close-reply{
    width : 2.5%;
    height: 2.5%;
    position: absolute;
    right: 3%;
    top: 25%;
}
.form-button{
    transition: all 300ms;
    width : 5%;
    height: 100%;
    
}
.form-button svg{
    width : 80%;
    height: 80%;
}
.reply-username{
    color: var(--username);
    margin-top: 0.8%;
}
.reply-text{
    margin-top: 0.3%;   
}
.message-container-selected{
    box-shadow: 0 0 25px var(--selected-message-blur);
    background-color: var(--selected-message-bg);
}